{{#each}}
  <section class="rant ui-box">
    <header class="rant-header">
      <div class="rant-title">
        <h3>{{title}}</h3>
      </div>
      <div class="rant-buttons">
        <button class="save btn-green"><span class="fa fa-pencil-square-o"> Edit</span></button>
      </div>
    </header>

    <aside class="rant-aside">
      <div class="avatar">
        <img src="" alt="" />
      </div>
    </aside>

    <section class="rant-body">
        {{body}}
    </section>
  </section>
{{/each}}

{{outlet}}
