<section class="ranters">
  {{#each user in model}}
    <div class="ranter ui-box">
      <div class="avatar"></div>
      <h5 class="ranter-name">{{user.firstName}} {{user.lastName}}</h5>
      <h6>{{user.email}}</h6>
    </div>
  {{/each}}
</section>

{{outlet}}
